html, body {
    margin: 10;
    background-color: #ddd;
}


.contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-logo{
    width: 350px;
}

.botones{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.botones button{
    margin: 0px 10px;
}